/* Highlights errors in settings form inputs */

#setting-error-discourse_url ~ form #discourse-url,
#setting-error-api_key ~ form #discourse-api-key,
#setting-error-publish_username ~ form #discourse-publish-username,
#setting-error-max_comments ~ form #discourse-max-comments,
#setting-error-min_replies ~ form #discourse-min-replies,
#setting-error-min_score ~ form #discourse-min-score,
#setting-error-min_trust_level ~ form #discourse-min-trust-level,
#setting-error-bypass_trust_level ~ form #discourse-bypass-trust-level-score,
#setting-error-excerpt_length ~ form #discourse-custom-excerpt-length,
#setting-error-sso_secret ~ form #discourse-sso-secret,
#setting-error-login_path ~ form #discourse-login-path {
	border-color: #dc3232;
	border-width: 1px;
}

#discourse-allowed-post-types {
	min-width: 160px;
}

#discourse-publish-meta-box .warning {
	padding: 0 8px;
}
