.discourse-flash-notice-container {
    display: none;
}

.discourse-flash-notice {
    margin: 21px;
    border: 1px solid;
    border-radius: 4px;
    background: #ffffff;
    color: #0a0a0a;
    padding: 1em;
    z-index: 100;
    position: relative;
}

.discourse-flash-notice:after {
    visibility: hidden;
    display: block;
    content: "";
    clear: both;
    height: 0;
}

.discourse-flash-notice p {
    margin-bottom: 0;
    width: 90%;
    float: left
}

.discourse-flash-notice.email_not_verified {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

.discourse-flash-notice.email-not-verified a {
    color: #31708f;
}

.discourse-close-flash-notice {
    float: right;
}