.discourse-comments .comment-meta {
    color: #686868;
    font-family: Montserrat, 'Helvetica Neue', sans-serif;
    font-size: 0.8125rem;
    margin-bottom: 1rem;
}
.discourse-comments .comments-title {
    margin-bottom: 0;
}