/* Highlights errors in settings form inputs */

#setting-error-discourse_url ~ form #discourse-url,
#setting-error-api_key ~ form #discourse-api-key,
#setting-error-publish_username ~ form #discourse-publish-username,
#setting-error-max_comments ~ form #discourse-max-comments,
#setting-error-min_replies ~ form #discourse-min-replies,
#setting-error-min_score ~ form #discourse-min-score,
#setting-error-min_trust_level ~ form #discourse-min-trust-level,
#setting-error-bypass_trust_level ~ form #discourse-bypass-trust-level-score,
#setting-error-excerpt_length ~ form #discourse-custom-excerpt-length,
#setting-error-sso_provider_enabled ~ form #discourse-sso-client-enabled,
#setting-error-sso_client_enabled ~ form #discourse-enable-sso,
#setting-error-sso_client_no_secret ~ form #discourse-sso-client-enabled,
#setting-error-sso_provider_no_secret ~ form #discourse-enable-sso,
#setting-error-auto_create_login_redirect ~ form #discourse-auto-create-login-redirect,
#setting-error-auto_create_welcome_redirect ~ form #discourse-auto-create-welcome-redirect,
#setting-error-login_path ~ form #discourse-login-path,
#setting-error-webhook_secret ~ form #discourse-webhook-secret {
	border-color: #dc3232;
	border-width: 1px;
}

.wp-discourse-options-form {
	max-width: 800px;
}

.discourse-logo {
	vertical-align: bottom;
}

.wrap > h2:first-child {
	line-height: 24px;
	margin-bottom: 6px;
}

#discourse-allowed-post-types {
	min-width: 160px;
}

#discourse-publish-meta-box .warning {
	padding: 0 8px;
}

/* Menu logo */
#adminmenu .toplevel_page_wp_discourse_options .wp-menu-image img {
	padding-top: 5px;
}

.discourse-options-page-wrap {
	position: relative;
}

input#discourse_reset_options {
	position: relative;
	left: 115px;
	bottom: 27px;
	font-size: 13px;
	line-height: 26px;
	height: 28px;
	margin: 0;
	padding: 0 10px 1px;
	background-color: rgb(212, 78, 33);
	border-color: rgb(212, 78, 33);
	color: #ffffff;
}

input#discourse_reset_options:hover {
	background-color: rgba(213, 78, 33, 0.9);
}

ul.wpdc-documentation-list {
	list-style: disc;
	margin-left: 40px;
}
